[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]

Flask = "*"
"Flask-Login" = "*"
"Flask-Script" = "*"
"Flask-WTF" = "*"
"Flask-SQLAlchemy" = "*"
pylint = "*"
"flake8" = "*"


[requires]
python_version = "3.5"
