[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]

flask = "*"
"flask-login" = "*"
"flask-script" = "*"
"flask-wtf" = "*"
"flask-sqlalchemy" = "*"
pylint = "*"
"flake8" = "*"
"psycopg2" = "*"


[requires]
python_version = "3.5"