<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='lib/flipclock/compiled/flipclock.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  </head>
  <body>
    <nav class="navbar is-black">
      <div class="navbar-start">
        <a class=navbar-item href="/">Home</a>
        <a class=navbar-item href="/graph">Graphs</a>
        <a class=navbar-item href="/logout">Log Out</a>
      </div>
      <div class="navbar-end">
          <span id="timermode" class="navbar-item">Pomodoro</span>
      </div>
    </nav>
    <div class="clock column is-half is-offset-one-third has-text-centered">
      <div id="clock"></div>
    </div>
    <div class="column is-5 is-offset-one-third has-text-centered">
      <button id="start-button" class="button is-dark">Start</button>
      <button id="stop-button" class="button is-dark">Stop</button>
      <button id="reset-button" class="button is-dark">Reset</button>
      <button id="toggle-button" class="button is-dark">Toggle</button>
    </div>
    <input id="context" class="input column is-offset-one-third is-5" type="text" placeholder="Context...">
    <br>
    <input id="interruptions" class="input column is-offset-one-third is-5" type="text" value="0" placeholder="Interruptions...">
    <div class="column is-5 is-offset-one-third has-text-centered">
    <button id="plus-buttion" class="button is-dark" onclick="counter.inc()">+</button>
    <button id="minus-button" class="button is-dark" onclick="counter.dec()">-</button>
    </div>
  <script src="{{url_for('static', filename='lib/jquery/dist/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='lib/flipclock/compiled/flipclock.min.js')}}"></script>
  <script src="{{url_for('static', filename='counter.js')}}"></script>
  <script src="{{url_for('static', filename='pomodoro.js')}}"></script>
  <script src="{{url_for('static', filename='index.js')}}"></script>
  </body>
</html>
