<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='lib/flipclock/compiled/flipclock.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  </head>
  <body>
    <nav class="navbar is-black">
      <div class="navbar-start">
        <a class=navbar-item href="#">Home</a>
        <a class=navbar-item href="#">Graphs</a>
        <a class=navbar-item href="/logout">Log Out</a>
      </div>
    </nav>
    <div class="clock column is-half is-offset-one-quarter has-text-centered">
      <div class="your-clock"></div>
    </div>
    <div class="column is-5 is-offset-one-quarter has-text-centered">
      <button class="start-button button is-dark">Start</button>
      <button class="stop-button button is-dark">Stop</button>
      <button class="reset-button button is-dark">Reset</button>
    </div>
    <div class="field">
      <div class="control column is-5 is-offset-one-quarter">
        <input class="input context" type="text" placeholder="Context...">
      </div>
    </div>

  <script src="{{url_for('static', filename='lib/jquery/dist/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='lib/flipclock/compiled/flipclock.min.js')}}"></script>
  <script src="{{url_for('static', filename='index.js')}}"></script>
  </body>
</html>
