<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  </head>
  <body>
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Pomodoro Timer
          </h1>
          <h2 class="subtitle">
          </h2>
            Keep track of your time!
        </div>
      </div>
    </section>
    <h1>Please login</h1>
    <form action="" method="POST">
      {{form.hidden_tag()}}
      {{form.username}}
      {{form.password}}
      {{form.submit}}
    </form>
  </body>
</html>
